.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #282c34;
  height: 10vh;
  width: 100vw;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(136, 136, 136);
}

.nav {
  display: flex;
  gap: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 90vh;
}

.App-link {
  display: inline-block;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addChanges {
  display: inline;
}
